@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


body, html {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.main-text-section {
    align-items: self-start;
    margin-top: 0;
    position: relative;
    resize: vertical;
    margin-left: 2%;
    width: 600px;
    height: 440px;
    background-color: #000000;
    color: white;
    text-align: left;
    border-radius: 60px;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;


}

.intro-text {
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 2vw;
}


.HI-text {

    font-size: 13.3vw;
    margin-right: 1rem;
    position: static;
}

.MyNameIs-text {
    margin-bottom: 50vw;
    position: absolute;

    line-height: 0.8;
}

.Laynexx-text {
    font-size: 10vw;
    transition: text-shadow 1s ease-in-out ;
    margin-left: 0.8%;
}

.Laynexx-text:hover {
    text-shadow:
            5px 5px 100px rgba(255, 255, 255, 0.3),
            5px -5px 100px rgba(255, 255, 255, 0.3),
            -5px 5px 100px rgba(255, 255, 255, 0.3),
            -5px -5px 100px rgba(255, 255, 255, 0.3);
    transition: 1s;
}


.description-text {
    margin-top: 10px;
    font-size: 0.9vw;
    margin-left: 10px;
    resize: block;
}

h1 span {
    margin: 0;
    line-height: 0.7;
}
