.container {
    display: flex;
    justify-content: space-between;
    height: 120vh;
}

.left-section {
    flex: 1; /* Занимает одну часть */
    background-color: #000;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.my-logo{
    margin-top: 25%;
    margin-left: 1rem;
    width: 20%;
    transition:
        rotate 1200ms, scale 1100ms
}

.my-logo:hover{
    rotate: y 180deg;
    scale: 1.2;
}

.right-section {
    flex: 1;
    background-color: #0e0e0e;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    height: 100vh;
    border-radius: 80px;
}

.my-links, .my-stack, .my-music {
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        background-color: black ;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .full-back{
        background-color: black ;
    }
}
